<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>FairConline</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FairConline" />
    <meta property="og:image" content="http://atest.elvisprime.com/Images/logo.png" />
    <meta property="og:site_name" content="FairConline" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <link rel="preconnect" href="http://atest.elvisprime.com" />
    <!-- XEIcon -->
    <link rel="stylesheet" href="~/Content/Masstige/fonts/icons/xeicon/xeicon.css" />

    <!-- Masstige Custom Icon for Board Template -->
    <link rel="stylesheet" href="~/Content/Masstige/fonts/icons/icomoon/masstige-icons.css" />

    <!-- Google Material Icons -->
    <link rel="stylesheet" href="~/Content/Masstige/fonts/icons/material/material-icons.css" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="~/Content/Masstige/fonts/icons/bootstrap/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/Content/Masstige/css/common.min.css" />
    <link rel="stylesheet" href="~/Content/Masstige/css/e-service.min.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    @Styles.Render("~/Content/fonts.css")
    @Scripts.Render("~/Scripts/API/jquery-2.2.3.min.js")
    @Scripts.Render("~/Scripts/API/jquery.slimscroll.min.js")
    @Scripts.Render("~/Scripts/js/common/Comm.js")
    @Scripts.Render("~/Scripts/js/common/_layout.js")
    @Scripts.Render("~/Scripts/js/common/KeyEvent.js")
    @Scripts.Render("~/Scripts/Pub/common.js")
    @Styles.Render("~/Content/media.css")
    @Scripts.Render("~/Scripts/API/jquery.AutoComplete.js")
    <script src="~/Scripts/API/jquery.datetimepicker.full.js"></script>

    <script type="text/javascript">
        var _HomeUrl = window.location.origin;
        var _Office_CD = '@System.Configuration.ConfigurationManager.AppSettings["OFFICE_CD"]';
        var _Domain = '@System.Configuration.ConfigurationManager.AppSettings["Domain"]';
        var _RPA_MngtNo = '@System.Configuration.ConfigurationManager.AppSettings["RPA_MngtNo"]';
        var _RPA_Key = '@System.Configuration.ConfigurationManager.AppSettings["RPA_Key"]';
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style media="screen and (min-width:1025px)">
        .member-box__logout > a {
            position: relative;
            background: #eeeeff;
            padding: 15px 20px;
            color: #04026f;
            border: 1px solid #04026f;
            border-radius: 5px;
            line-height: 0;
            cursor: pointer;
        }
    </style>
    <style>

        .dologin > a > span {
            background: #eeeeff;
            padding: 15px 20px;
            color: #04026f;
            border: 1px solid #04026f;
            border-radius: 5px;
            line-height: 0;
            top: 30px;
        }

        .btn_total,
        .btn_total::before,
        .btn_total::after {
            background: #333;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header" style="display: block;" class="header subpage">

            @{
                if (Session["USR_ID"] == null)
                {
                    <input type="hidden" id="Session_USR_ID" value="" />
                    <input type="hidden" id="Session_LOC_NM" value="" />
                    <input type="hidden" id="Session_EMAIL" value="" />
                    <input type="hidden" id="Session_CUST_CD" value="" />
                    <input type="hidden" id="Session_CUST_NM" value="" />
                    <input type="hidden" id="Session_HP_NO" value="" />
                    <input type="hidden" id="Session_DOMAIN" value="" />
                    <input type="hidden" id="Session_OFFICE_CD" value="" />
                    <input type="hidden" id="Session_AUTH_KEY" value="" />
                    <input type="hidden" id="Session_USR_TYPE" value="" />
                }
                else
                {
                    <input type="hidden" id="Session_USR_ID" value="@Session["USR_ID"]" />
                    <input type="hidden" id="Session_LOC_NM" value="@Session["USER_NM"]" />
                    <input type="hidden" id="Session_EMAIL" value="@Session["EMAIL"]" />
                    <input type="hidden" id="Session_CUST_CD" value="@Session["CUST_CD"]" />
                    <input type="hidden" id="Session_CUST_NM" value="@Session["CUST_NM"]" />
                    <input type="hidden" id="Session_HP_NO" value="@Session["HP_NO"]" />
                    <input type="hidden" id="Session_DOMAIN" value="@Session["DOMAIN"]" />
                    <input type="hidden" id="Session_OFFICE_CD" value="@Session["OFFICE_CD"]" />
                    <input type="hidden" id="Session_AUTH_KEY" value="@Session["AUTH_KEY"]" />
                    <input type="hidden" id="Session_USR_TYPE" value="@Session["USR_TYPE"]" />
                }
            }

            <div class="fixed_in type2">
                <div class="top_row">
                    <h1 class="logo">
                        <a href="@Url.Action("Index","Home")"></a>
                    </h1>
                    <div class="left-search search_top">
                        <div class="int_box search-form">
                            <input type="text" class="search-form__input" placeholder="HB/L NO, CNTR NO" id="Mngt_no" maxlength="20"/>
                            <button type="button" class="btns icon delete" style="display: none;"><span class="blind">삭제</span></button>
                            <button class="search-form__button btn_search" id="Pc_btn_Tracking">search</button>
                        </div>
                    </div>
                </div>
                <button type="button" id="hamberger" class="mo"><span class="btn_total"></span></button>
                <nav class="total_menu">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Images/logo.png" class="mo" style="padding:20px;"/>
                    </a>
                    <ul class="lnb">
                        @{
                            if (Session["USR_ID"] == null)
                            {
                                <li id="sub">
                                    <a href="javascript:void(0)" onclick="fnShowLoginLayer('/MyData')" title="MY DATA"><span>MY DATA</span></a>
                                    <div class="sub_depth">
                                        <ul>
                                            <li><a href="javascript:void(0)" onclick="fnShowLoginLayer('/MyData')"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>MY DATA</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Schedule")" title="SCHEDULE"><span>SCHEDULE</span></a>
                                    <div class="sub_depth">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "Schedule")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>SCHEDULE</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="sub2">
                                    <a onclick="fnShowLoginLayer('/Booking/Regist')" title="BOOKING"><span>BOOKING</span></a>
                                    <div class="sub_depth">
                                        <ul>
                                            <li onclick="fnShowLoginLayer('/Booking/Regist')"><a href="javascript:void(0)"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>BOOKING</span></a></li>
                                            <li onclick="fnShowLoginLayer('/Booking/BookingInfo')"><a href="javascript:void(0)"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>BOOKING INFO</span></a></li>
                                            <li onclick="fnShowLoginLayer('/Warehouse')"><a href="javascript:void(0)"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>WAREHOUSE</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Notice", "LogisticsInfo")" title="LOGISTICS INFO"><span>LOGISTICS INFO</span></a>
                                    <div class="sub_depth">
                                        <ul>
                                            <li><a href="@Url.Action("Notice", "LogisticsInfo")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>NOTICE</span></a></li>
                                            <li><a href="@Url.Action("CBM", "LogisticsInfo")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>CBM CALCULATOR</span></a></li>
                                            <li><a href="@Url.Action("Incoterms", "LogisticsInfo")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>INCOTERMS</span></a></li>
                                            <li><a href="https://unipass.customs.go.kr/clip/index.do?opnurl=/hsinfosrch/openULS0201001Q.do" target="_blank"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>HS CODE</span></a></li>
                                            <li><a href="@Url.Action("PortLocation", "LogisticsInfo")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>PORT INFO</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            else
                            {

                                <li>
                                    <a href="@Url.Action("Index", "MyData")" title="MY DATA"><span>MY DATA</span></a>
                                    <div class="sub_depth">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "MyData")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>MY DATA</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Schedule")" title="SCHEDULE"><span>SCHEDULE</span></a>
                                    <div class="sub_depth">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "Schedule")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>SCHEDULE</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Regist", "Booking")" title="BOOKING"><span>BOOKING</span></a>
                                    <div class="sub_depth">
                                        <ul>
                                            <li><a href="@Url.Action("Regist", "Booking")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>BOOKING</span></a></li>
                                            <li><a href="@Url.Action("BookingInfo", "Booking")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>BOOKING INFO</span></a></li>
                                            <li><a href="@Url.Action("Index", "Warehouse")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>WAREHOUSE</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Notice", "LogisticsInfo")" title="LOGISTICS INFO"><span>LOGISTICS INFO</span></a>
                                    <div class="sub_depth">
                                        <ul>
                                            <li><a href="@Url.Action("Notice", "LogisticsInfo")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>NOTICE</span></a></li>
                                            <li><a href="@Url.Action("CBM", "LogisticsInfo")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>CBM CALCULATOR</span></a></li>
                                            <li><a href="@Url.Action("Incoterms", "LogisticsInfo")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>INCOTERMS</span></a></li>
                                            <li><a href="https://unipass.customs.go.kr/clip/index.do?opnurl=/hsinfosrch/openULS0201001Q.do" target="_blank"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>HS CODE</span></a></li>
                                            <li><a href="@Url.Action("PortLocation", "LogisticsInfo")"><span class="mo_icn_check"><span class="mo">·&nbsp;</span>PORT INFO</span></a></li>
                                        </ul>
                                    </div>
                                </li>

                            }

                        }
                         @{
                            if (Session["USR_ID"] == null)
                            {
                                <!-- S : 로그인 전-->
                                <li class="dologin">
                                    <a onclick="layerPopup3('#login_pop')" title="LOGIN">
                                        <span title="LOGIN">LOGIN</span>
                                    </a>
                                </li>
                                <!-- 로그인 전 -->
                            }
                            else
                            {
                                <div class="after_login">
                                    <!-- S : 로그인 후-->
                                    <div class="member-box__logout">
                                        <div class="text item">@*안녕하세요,*@ <span class="user_nm">@Session["USER_NM"]</span>님</div>
                                        <a class="btn-logout" onclick="_fnLogout()" title="LOGOUT">LOGOUT</a>
                                    </div>
                                    <!-- E : 로그인 후-->
                                </div>
                            }
                        }
                    </ul>
                    <div class="left-search">
                        <div class="int_box search-form">
                            <input type="text" class="search-form__input" placeholder="HB/L NO, CNTR NO" id="Mng_no_Mo"maxlength="20" />
                            <button type="button" class="btns icon delete" style="display: none;"><span class="blind">삭제</span></button>
                            <button class="search-form__button" id="SearchTrackingMo_SUB" style="width:116.69px;">search</button>
                        </div>
                    </div>
                    <button class="btn_menu_close"></button>
                </nav>
            </div>
        </header>

        @RenderSection("Container", required: false)

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-inner__cont">
                    <img src="~/Images/footer_img.jpg" />
                    <p class="copyright">ⓒ 2023 FAIRCONLINE Corporation</p>
                </div>
            </div>
        </div>

    </div>

    <!-- layer_zone SEA 화물 추적  -->
    <div class="layer_zone tracking_layer" id="SVT_tracking_layer">
        <div class="layer_wrap">
            <div class="layer_inwrap" style="overflow-x:auto;">
                <article class="layer_cont">
                    <!-- tracking_area -->
                    <div class="tracking_area">
                        <!-- 배경지도 영역 추가하기-->
                        <div class="tracking_inner" id="SVT_layer_Area">
                            <form name="viewerForm" id="viewerForm">
                                <input type="hidden" id="Tradlx_token" name="Authorization" value="">
                            </form>
                            <iframe frameborder="0" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 1763px;" allowfullscreen name="viewer"></iframe>
                        </div>
                    </div>
                    <!-- delivery_status -->
                    <div class="delivery_status SVT_layer_delivery_status" style="display:none">
                        <div class="top_box">
                            <button type="button" class="btn_close" id="SVT_layer_delivery_status_close">CLOSE</button>
                            <!-- cargo_info -->
                            <div class="cargo_info">
                                <div class="col">
                                    <em class="tit">Master B/L No :</em>
                                    <p id="SVT_Trk_Layer_MBL_NO"></p>
                                </div>
                                <div class="col">
                                    <em class="tit">House B/L No :</em>
                                    <p id="SVT_Trk_Layer_HBL_NO"></p>
                                </div>
                            </div>
                            <!-- //cargo_info -->
                        </div>
                        <div class="shipping_step">
                            <div class="scrollbar_layer">
                                <ul id="SVT_layer_trackAppend"></ul>
                            </div>
                        </div>
                    </div>
                    <!-- //delivery_status -->
                    <!-- //tracking_area -->
                    <button type="button" class="btns close white" onclick="layerClose('#SVT_tracking_layer');"><span class="blind">닫기</span></button>
                </article>
            </div>
        </div>
    </div>

   

    <div class="layer_zone alert_type" id="alert01">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            데이터가 삭제 되었습니다.
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="alert01_confirm" onclick="layerClose('#alert01');">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="layer_zone alert_type" id="BookingRequest">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            데이터가 삭제 되었습니다.
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="BookingRequest_confirm" onclick="layerClose('#BookingRequest');">확인</button>
                        <button type="button" class="btns radius cr2 loginChk" id="BookingRequest_cencel" onclick="layerClose('#BookingRequest');">취소</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="BookingModify">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            데이터가 삭제 되었습니다.
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="BookingModify_confirm" onclick="layerClose('#BookingModify');">확인</button>
                        <button type="button" class="btns radius cr2 loginChk" id="BookingModify_cencel" onclick="layerClose('#BookingModify');">취소</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="BookingCancel">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            데이터가 삭제 되었습니다.
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="BookingCancel_confirm" onclick="layerClose('#BookingCancel');">확인</button>
                        <button type="button" class="btns radius cr2 loginChk" id="BookingCancel_cencel" onclick="layerClose('#BookingCancel');">취소</button>
                        <input type="hidden" id="Delete_no" />
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="BL_List_Confirm">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            데이터가 삭제 되었습니다.
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="BL_List_Confirm_confirm" onclick="layerClose3('#BL_List_Confirm');">확인</button>
                        <button type="button" class="btns radius cr2 loginChk" id="BL_List_Confirm_cencel" onclick="layerClose3('#BL_List_Confirm');">취소</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <!-- //layer_zone 화물 추적 **항공**-->
    <div class="layer_zone delivery_pop" id="L_delivery_pop">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="search_top">
                        <input type="text" name="" value="" class="vali_container" placeholder="#B/L , #CNTR" id="Layer_L_Tracking" autocomplete="off">
                        <span class="focus-border"></span>
                        <button type="button" id="L_btnAirTrkSearch" class="btn_search"><span class="blind">검색</span></button>
                    </div>
                    <div class="trk_list" id="layer_tracking_List"></div>
                    @*<button type="button" class="btns icon type3" onclick="layerClose('#L_delivery_pop');"><span class="blind">닫기</span></button>*@
                    <button type="button" class="btns icon close type1" onclick="layerClose('#L_delivery_pop');"><span class="blind">검색 닫기</span></button>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="Inv_List_Confirm">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            데이터가 삭제 되었습니다.
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="Inv_List_Confirm_confirm" onclick="layerClose('#Inv_List_Confirm');">확인</button>
                        <button type="button" class="btns radius cr2 loginChk" id="Inv_List_Confirm_cencel" onclick="layerClose('#Inv_List_Confirm');">취소</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="layer_zone type1 login_pop" id="login_pop" style="display: none;">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont" style="background:#eeeeff; ">
                    <div class="alert_cont">
                        <h2 class="title05"><img src="~/Images/login_bg.png" /></h2>
                        <p class="login_txt">
                            Start Your Business with<br />
                            <strong>FairConline</strong>
                        </p>
                        <div class="login_form">
                            <form>
                                <div class="cell">
                                    <input type="text" value="" class="int login" id="Login_ID" maxlength="50" autocomplete="off" placeholder="아이디를 입력하세요." style="height:40px!important;">
                                </div>
                                <div class="cell">
                                    <input type="password" class="int" id="Login_Password" maxlength="16" autocomplete="off" placeholder="비밀번호를 입력하세요." style="height:40px!important;">
                                </div>
                                <div id="Email_Warning" style="display:none">
                                    <p class="incorrect_login Span_Warning">아이디를 입력 하세요.</p>
                                </div>
                                <div id="Password_Warning" style="display:none">
                                    <p class="incorrect_login Span_Warning">비밀번호를 입력 하세요.</p>
                                </div>
                                <div class="chk_box" style="display:flex; justify-content:flex-end; padding-top: 8px;">
                                    <div class="chk" style="padding-right: 15px; display: none;">
                                        <span class="check type1">
                                            <input type="checkbox" id="login_auto" name="login_auto" class="chk">
                                            <label for="login_auto">자동 로그인</label>
                                        </span>
                                    </div>
                                    <div class="chk">
                                        <span class="check type1">
                                            <input type="checkbox" id="login_keep" name="login_keep" class="chk">
                                            <label for="login_keep">아이디 저장</label>
                                        </span>
                                    </div>
                                </div>
                                <button type="button" class="btn_type1" id="Login_btn">로그인</button>
                            </form>
                        </div>
                    </div>
                    <button type="button" class="btns icon close type1" onclick="layerClose('#login_pop');"><span class="blind">닫기</span></button>
                </article>
            </div>
        </div>
    </div>
    <div class="layer_zone alert_type" id="layer_in_alert" style="z-index:10003">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner" id="layer_in_alert_content">
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="alert_layer01" onclick="alert_layerClose('#layer_in_alert');">확인</button>
                    </div>                    
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="ConsoleCancel" style="z-index:10003">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner" id="ConsoleCancel_content">
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="ConsoleCancel_confirm">확인</button>
                        <button type="button" class="btns radius cr2 loginChk" id="ConsoleCancel_cencel" onclick="layerClose('#ConsoleCancel');">취소</button>
                        <input type="hidden" id="ConsoleDelete_Mngtno" />
                        <input type="hidden" id="ConsoleDelete_Seq" />
                        <input type="hidden" id="ConsoleDelete_Settime" />
                        <input type="hidden" id="ConsoleDelete_RealName" />
                    </div>
                    <button type="button" class="btn_close close loginChk" id="alert_close" onclick="alert_layerClose('#ConsoleCancel');"><span class="blind">닫기</span></button>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="CheckLogin" style="background: rgba(0,0,0,1.0);">
        <div class="layer_wrap">
            <div class="layer_inwrap" id="CheckLogin_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            로그인을 먼저 해주세요.
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1" id="layer_alertLogin" onclick="layerClose('#CheckLogin');">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="layer_zone policy" id="layer_Policy_Policy">
        <div class="layer_wrap" style="max-width:1000px;">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="alert_cont layer_policy_margintop">
                        <h2 class="subtitle02"><span>개인정보처리방침</span></h2>
                        <div class="terms_area">
                            <div class="scrollbar_layer">
                                <p>
                                    <span class="cr_burg">&lt;㈜이투이로지스틱스솔루션&gt;</span>('http://e2elogis.com/'이하 '이투이로지스틱스솔루션 E-서비스')은(는) 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.
                                </p>
                                <p>
                                    <span class="cr_burg">&lt;㈜이투이로지스틱스솔루션&gt;</span>('이투이로지스틱스솔루션 E-서비스') 은(는) 회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                                </p>
                                <p>○ 본 방침은부터 2022년 5월 1일부터 시행됩니다.</p>
                                <div class="grp">
                                    <h3>1. 개인정보의 처리 목적</h3>
                                    <p>
                                        &lt;㈜이투이로지스틱스솔루션&gt;('http://e2elogis.com/'이하 '이투이로지스틱스솔루션 E-서비스')은(는) 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.
                                    </p>
                                    <ol class="list01">
                                        <li>
                                            <strong class="tit">가. 이투이로지스틱스솔루션 E-서비스 회원가입 및 관리</strong>
                                            <p>회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인 등을 목적으로 개인정보를 처리합니다.</p>
                                        </li>
                                        <li>
                                            <strong class="tit">나. 재화 또는 서비스 제공</strong>
                                            <p>서비스 제공, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증 등을 목적으로 개인정보를 처리합니다.</p>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>2. 개인정보 파일 현황</h3>
                                    <ol class="list02">
                                        <li>
                                            1. 개인정보 파일명 : 회원관리
                                            <ul class="list03">
                                                <li>- 개인정보 항목 : 이메일, 휴대전화번호, 비밀번호, 로그인ID, 회사명</li>
                                                <li>- 수집방법 : 홈페이지</li>
                                                <li>- 보유근거 : 회원관리의 목적</li>
                                                <li>- 보유기간 : 5년</li>
                                                <li>- 관련법령 : 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년, 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년, 계약 또는 청약철회 등에 관한 기록 : 5년</li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>3. 개인정보의 처리 및 보유 기간</h3>
                                    <ol class="list02">
                                        <li>
                                            ① &lt;㈜이투이로지스틱스솔루션&gt;('이투이로지스틱스솔루션 E-서비스')은(는) 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의 받은 개인정보 보유,이용기간 내에서 개인정보를 처리,보유합니다.
                                        </li>
                                        <li>
                                            ② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
                                            <ol class="list03">
                                                <li>
                                                    1.&lt;이투이로지스틱스솔루션 E-서비스 회원가입 및 관리&gt; <br>
                                                    &lt;E-서비스 회원가입 및 관리&gt;와 관련한 개인정보는 수집.이용에 관한 동의일로부터&lt;&gt;준영구&gt;까지 위 이용목적을 위하여 보유.이용됩니다. <br>
                                                    -보유근거 : 회원관리의 목적 <br>
                                                    -관련법령 : <br>
                                                    &nbsp;&nbsp;1)신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년<br>
                                                    &nbsp;&nbsp;2) 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>4. 정보주체와 법정대리인의 권리·의무 및 그 행사방법</h3>
                                    <p>이용자는 개인정보주체로써 다음과 같은 권리를 행사할 수 있습니다.</p>
                                    <ol class="list02">
                                        <li>① 정보주체는 ㈜이투이로지스틱스솔루션에 대해 언제든지 개인정보 열람,정정,삭제,처리정지 요구 등의 권리를 행사할 수 있습니다.</li>
                                        <li>② 제1항에 따른 권리 행사는 ㈜이투이로지스틱스솔루션에 대해 개인정보 보호법 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 ㈜이투이로지스틱스솔루션은(는) 이에 대해 지체 없이 조치하겠습니다.</li>
                                        <li>③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</li>
                                        <li>④ 개인정보 열람 및 처리정지 요구는 개인정보보호법 제35조 제5항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.</li>
                                        <li>⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.</li>
                                        <li>⑥ ㈜이투이로지스틱스솔루션은(는) 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.</li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>5. 처리하는 개인정보의 항목 작성</h3>
                                    <ol class="list02">
                                        <li>
                                            ① &lt;㈜이투이로지스틱스솔루션&gt;('http://e2elogis.com/'이하 '이투이로지스틱스솔루션 E-서비스')은(는) 다음의 개인정보 항목을 처리하고 있습니다.<br>
                                            1&lt;이투이로지스틱스솔루션 E-서비스 회원가입 및 관리&gt;<br>
                                            - 필수항목 : 이메일, 휴대전화번호, 비밀번호, 로그인ID, 회사명
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>6. 개인정보의 파기</h3>
                                    <p>
                                        &lt;㈜이투이로지스틱스솔루션&gt;('이투이로지스틱스솔루션 E-서비스')은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.
                                    </p>
                                    <ol class="list01">
                                        <li>
                                            - 파기절차<br>
                                            이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.
                                        </li>
                                        <li>
                                            - 파기기한<br>
                                            이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.
                                        </li>
                                        <li>
                                            - 파기방법<br>
                                            전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>7. 개인정보 자동 수집 장치의 설치•운영 및 거부에 관한 사항</h3>
                                    <ol class="list02">
                                        <li>
                                            ① ㈜이투이로지스틱스솔루션 은(는) 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.
                                        </li>
                                        <li>
                                            ② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.
                                            <ul class="list03">
                                                <li>가. 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.</li>
                                                <li>나. 쿠키의 설치•운영 및 거부 : 웹브라우저 상단의 도구&gt;인터넷 옵션&gt;개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.</li>
                                                <li>다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>8. 개인정보 처리방침 변경</h3>
                                    <ol class="list02">
                                        <li>①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.</li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>9. 개인정보의 안전성 확보 조치</h3>
                                    <p>&lt;㈜이투이로지스틱스솔루션&gt;('이투이로지스틱스솔루션 E-서비스')은(는) 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</p>
                                    <ol class="list01">
                                        <li>
                                            <strong class="tit">1. 내부관리계획의 수립 및 시행</strong>
                                            <p>개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</p>
                                        </li>
                                        <li>
                                            <strong class="tit">2. 개인정보에 대한 접근 제한</strong>
                                            <p>개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1" onclick="layerClose('#layer_Policy_Policy');">확인</button>
                    </div>
                    <button type="button" class="btn_close close" onclick="layerClose('#layer_Policy_Policy');"><span class="blind">닫기</span></button>
                </article>
            </div>
        </div>
    </div>
    <div class="layer_zone policy" id="layer_Policy_Terms">
        <div class="layer_wrap" style="max-width:1000px;">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="alert_cont layer_policy_margintop">
                        <h2 class="subtitle02"><span>서비스 이용약관</span></h2>
                        <div class="terms_area">
                            <div class="scrollbar_layer">
                                <div class="grp">
                                    <h3>제 1 장 총 칙</h3>
                                    <ol class="list01">
                                        <li>
                                            <strong class="tit">제 1 조 (목적)</strong>
                                            <p>이 약관은 ㈜이투이로지스틱스솔루션(이하 "사이트"라 합니다)에서 제공하는 E-서비스(이하 "서비스"라 합니다)의 이용 조건 및 절차에 관한 기본적인 사항을 규정함을 목적으로 합니다.</p>
                                        </li>
                                        <li>
                                            <strong class="tit">제 2 조 (약관의 효력 및 변경)</strong>
                                            <ul class="list02">
                                                <li>① 이 약관은 서비스 화면이나 기타의 방법으로 이용고객에게 공지함으로써 효력을 발생합니다.</li>
                                                <li>② 사이트는 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong class="tit">제 3 조 (용어의 정의)</strong>
                                            <p>이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                                            <ul class="list02">
                                                <li>① 회원 : 사이트와 서비스 이용계약을 체결하거나 이용자 아이디(ID)를 부여받은 개인 또는 단체를 말합니다.</li>
                                                <li>② 신청자 : 회원가입을 신청하는 개인 또는 단체를 말합니다.</li>
                                                <li>③ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 사이트가 승인하는 문자와 숫자의 조합을 말합니다.</li>
                                                <li>④ 비밀번호 : 회원이 부여 받은 아이디(ID)와 일치된 회원임을 확인하고, 회원 자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을 말합니다.</li>
                                                <li>⑤ 해지 : 사이트 또는 회원이 서비스 이용계약을 취소하는 것을 말합니다.</li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>제 2 장 서비스 이용계약</h3>
                                    <ol class="list01">
                                        <li>
                                            <strong class="tit">제 4 조 (이용계약의 성립)</strong>
                                            <ul class="list02">
                                                <li>① 이용약관 하단의 동의 버튼을 누르면 이 약관에 동의하는 것으로 간주됩니다.</li>
                                                <li>② 이용계약은 서비스 이용희망자의 이용약관 동의 후 이용 신청에 대하여 사이트가 승낙함으로써 성립합니다.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong class="tit">제 5 조 (이용신청)</strong>
                                            <ul class="list02">
                                                <li>① 신청자가 본 서비스를 이용하기 위해서는 사이트 소정의 가입신청 양식에서 요구하는 이용자 정보를 기록하여 제출해야 합니다.</li>
                                                <li>② 가입신청 양식에 기재하는 모든 이용자 정보는 모두 실제 데이터인 것으로 간주됩니다. 실명이나 실제 정보를 입력하지 않은 사용자는 법적인 보호를 받을 수 없으며, 서비스의 제한을 받을 수 있습니다.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong class="tit">제 6 조 (이용신청의 승낙)</strong>
                                            <ul class="list02">
                                                <li>① 사이트는 신청자에 대하여 제2항, 제3항의 경우를 예외로 하여 서비스 이용신청을 승낙합니다.</li>
                                                <li>
                                                    ② 사이트는 다음에 해당하는 경우에 그 신청에 대한 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다.
                                                    <ul class="list03">
                                                        <li>가. 서비스 관련 설비에 여유가 없는 경우</li>
                                                        <li>나. 기술상 지장이 있는 경우</li>
                                                        <li>다. 기타 사이트가 필요하다고 인정되는 경우</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    ③ 사이트는 신청자가 다음에 해당하는 경우에는 승낙을 거부할 수 있습니다.
                                                    <ul class="list03">
                                                        <li>가. 다른 개인(사이트)의 명의를 사용하여 신청한 경우</li>
                                                        <li>나. 이용자 정보를 허위로 기재하여 신청한 경우</li>
                                                        <li>다. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우</li>
                                                        <li>라. 기타 사이트 소정의 이용신청요건을 충족하지 못하는 경우</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong class="tit">제 7 조 (이용자정보의 변경)</strong>
                                            <p>
                                                회원은 이용 신청시에 기재했던 회원정보가 변경되었을 경우에는, 온라인으로 수정하여야 하며 변경하지 않음으로 인하여 발생되는 모든 문제의 책임은 회원에게 있습니다.
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>제 3 장 계약 당사자의 의무</h3>
                                    <ol class="list01">
                                        <li>
                                            <strong class="tit">제 8 조 (사이트의 의무)</strong>
                                            <ul class="list02">
                                                <li>
                                                    ① 사이트는 회원에게 각 호의 서비스를 제공합니다.
                                                    <ul class="list03">
                                                        <li>가. 신규서비스와 도메인 정보에 대한 뉴스레터 발송</li>
                                                        <li>나. 추가 도메인 등록시 개인정보 자동 입력</li>
                                                        <li>다. 도메인 등록, 관리를 위한 각종 부가서비스</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    ② 사이트는 서비스 제공과 관련하여 취득한 회원의 개인정보를 회원의 동의없이 타인에게 누설, 공개 또는 배포할 수 없으며, 서비스관련 업무 이외의 상업적 목적으로 사용할 수 없습니다. 단, 다음 각 호의 1에 해당하는 경우는 예외입니다.
                                                    <ul class="list03">
                                                        <li>가. 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우</li>
                                                        <li>나. 범죄에 대한 수사상의 목적이 있거나 정보통신윤리 위원회의 요청이 있는 경우</li>
                                                        <li>다. 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우</li>
                                                    </ul>
                                                </li>
                                                <li>③ 사이트는 이 약관에서 정한 바에 따라 지속적, 안정적으로 서비스를 제공할 의무가 있습니다.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong class="tit">제 9 조 (회원의 의무)</strong>
                                            <ul class="list02">
                                                <li>
                                                    ① 회원은 서비스 이용 시 다음 각 호의 행위를 하지 않아야 합니다.
                                                    <ul class="list03">
                                                        <li>가. 다른 회원의 ID를 부정하게 사용하는 행위</li>
                                                        <li>나. 서비스에서 얻은 정보를 사이트의 사전승낙 없이 회원의 이용 이외의 목적으로 복제하거나 이를 변경, 출판 및 방송 등에 사용하거나 타인에게 제공하는 행위</li>
                                                        <li>다. 사이트의 저작권, 타인의 저작권 등 기타 권리를 침해하는 행위</li>
                                                        <li>라. 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등을 타인에게 유포하는 행위</li>
                                                        <li>마. 범죄와 결부된다고 객관적으로 판단되는 행위</li>
                                                        <li>바. 기타 관계법령에 위배되는 행위</li>
                                                    </ul>
                                                </li>
                                                <li>② 회원은 관계법령, 이 약관에서 규정하는 사항, 서비스 이용 안내 및 주의 사항을 준수하여야 합니다.</li>
                                                <li>③ 회원은 내용별로 사이트가 서비스 공지사항에 게시하거나 별도로 공지한 이용 제한 사항을 준수하여야 합니다.</li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>제 4 장 서비스 제공 및 이용</h3>
                                    <ol class="list01">
                                        <li>
                                            <strong class="tit">제 10 조 (회원 아이디(ID)와 비밀번호 관리에 대한 회원의 의무)</strong>
                                            <ul class="list02">
                                                <li>① 아이디(ID)와 비밀번호에 대한 모든 관리는 회원에게 책임이 있습니다. 회원에게 부여된 아이디(ID)와 비밀번호의 관리소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 전적인 책임은 회원에게 있습니다.</li>
                                                <li>② 자신의 아이디(ID)가 부정하게 사용된 경우 또는 기타 보안 위반에 대하여, 회원은 반드시 사이트에 그 사실을 통보해야 합니다.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong class="tit">제 11 조 (서비스 제한 및 정지)</strong>
                                            <ul class="list02">
                                                <li>① 사이트는 전시, 사변, 천재지변 또는 이에 준하는 국가비상사태가 발생하거나 발생할 우려가 있는 경우와 전기통신사업법에 의한 기간통신 사업자가 전기통신서비스를 중지하는 등 기타 불가항력적 사유가 있는 경우에는 서비스의 전부 또는 일부를 제한하거나 정지할 수 있습니다.</li>
                                                <li>② 사이트는 제1항의 규정에 의하여 서비스의 이용을 제한하거나 정지할 때에는 그 사유 및 제한기간 등을 지체없이 회원에게 알려야 합니다.</li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>제5장 계약사항의 변경, 해지</h3>
                                    <ol class="list01">
                                        <li>
                                            <strong class="tit">제 12 조 (정보의 변경)</strong>
                                            <p>회원이 주소, 비밀번호 등 고객정보를 변경하고자 하는 경우에는 홈페이지의 회원정보 변경 서비스를 이용하여 변경할 수 있습니다.</p>
                                        </li>
                                        <li>
                                            <strong class="tit">제 13 조 (계약사항의 해지)</strong>
                                            <p>
                                                회원은 서비스 이용계약을 해지할 수 있으며, 해지할 경우에는 본인이 직접 서비스를 통하거나 전화 또는 온라인 등으로 사이트에 해지신청을 하여야 합니다. 사이트는 해지신청이 접수된 당일부터 해당 회원의 서비스 이용을 제한합니다. 사이트는 회원이 다음 각 항의 1에 해당하여 이용계약을 해지하고자 할 경우에는 해지조치 7일전까지 그 뜻을 이용고객에게 통지하여 소명할 기회를 주어야 합니다.
                                            </p>
                                            <ul class="list02">
                                                <li>① 이용고객이 이용제한 규정을 위반하거나 그 이용제한 기간 내에 제한 사유를 해소하지 않는 경우</li>
                                                <li>② 정보통신윤리위원회가 이용해지를 요구한 경우</li>
                                                <li>③ 이용고객이 정당한 사유 없이 의견진술에 응하지 아니한 경우</li>
                                                <li>
                                                    ④ 타인 명의로 신청을 하였거나 신청서 내용의 허위 기재 또는 허위서류를 첨부하여 이용계약을 체결한 경우
                                                    사이트는 상기 규정에 의하여 해지된 이용고객에 대해서는 별도로 정한 기간동안 가입을 제한할 수 있습니다.
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <div class="grp">
                                    <h3>제6장 손해배상</h3>
                                    <ol class="list01">
                                        <li>
                                            <strong class="tit">제 14 조 (면책조항)</strong>
                                            <ul class="list02">
                                                <li>① 사이트는 회원이 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나 서비스 자료에 대한 취사선택 또는 이용으로 발생하는 손해 등에 대해서는 책임이 면제됩니다.</li>
                                                <li>② 사이트는 회원의 귀책사유나 제3자의 고의로 인하여 서비스에 장애가 발생하거나 회원의 데이터가 훼손된 경우에 책임이 면제됩니다.</li>
                                                <li>③ 사이트는 회원이 게시 또는 전송한 자료의 내용에 대해서는 책임이 면제됩니다.</li>
                                                <li>④ 상표권이 있는 도메인의 경우, 이로 인해 발생할 수도 있는 손해나 배상에 대한 책임은 구매한 회원 당사자에게 있으며, 사이트는 이에 대한 일체의 책임을 지지 않습니다.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong class="tit">제 15 조 (관할법원)</strong>
                                            <p>
                                                서비스와 관련하여 사이트와 회원간에 분쟁이 발생할 경우 사이트의 본사 소재지를 관할하는 법원을 관할법원으로 합니다.
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                                [부칙]
                                <br>
                                (시행일) 이 약관은 2022년 05월부터 시행합니다.
                            </div>
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="alert_layer01" onclick="layerClose('#layer_Policy_Terms');">확인</button>
                    </div>
                    <button type="button" class="btn_close close loginChk" id="alert_close" onclick="layerClose('#layer_Policy_Terms');"><span class="blind">닫기</span></button>
                </article>
            </div>
        </div>
    </div>
    <div class="loading" id="ProgressBar_Loading" style="display:none">
        <div class="ispinner ispinner-large">
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
        </div>
    </div>
</body>
</html>
